/*
Project : IDM Disco Systems
Version : v1.0
By : Younes Hadry
Email : hadryounes@gmail.com
Website : http://www.dribbble.com/hadry
*/

.row{
  margin-right: 0;
}

/*Start Setup*/
html body { 
  margin:0;
  padding: 0;
  background-color: transparent;
  font-family: "Roboto", "Helvetica", sans-serif !important;
  font-size: 14px;
  background: #ffffff;
}

.blue { 
  color:#5ebc86;
}

.orange { 
  color:#fb9024;
}

.bg-orange {
  background-color: #fb9024;
}

.grey { 
  color:#606e73;
}

.center {
  text-align: center;
}

.floatright {
  float:right;
 }

.floatleft {
  float:left;
}
.hide {
  display: none;
}
.400 { 
  font-weight: 400 !important;
}

.300 { font-weight: 300 !important;
}

.bold { 
  font-family: "Open sans";
  font-weight: 400 !important;
}

img {
     max-width: 100%;
}

a:hover,a:active,a:visited,a:link {
  text-decoration: none;
}

.row.no-gutter {
  margin-right:0;
  margin-left:0;
}
.row.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/*End Setup*/

/*Base structure*/

/*Move down content because we have a fixed navbar that is 50px tall*/
body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*Top navigation*/

.navbar {
  height: 66px;
}

#logo { 
  margin-top:4px; 
}

.navbar-fixed-top {
  border: 0;
}

.navbar-inverse {
  background-color: #53575a;
}

#profile-nav {
  float: right;
  height: 66px;
  margin-top: -7px;
  width: auto;
  min-width: 190px;
  background-color: #393b3d;
  position: relative;
  display: block;
  padding: 17px 10px;
}



#profile-nav .profile-nav-label { 
  color:#f0f0f0;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  line-height: 23px;
  margin-left: 5px;
}

#profile-nav a i { float: right;
                   color:#d1d1d5;
                   margin-top: 6px; 

}

#profile-nav .dropdown-menu {
  min-width: 191px;
  margin:-1px;
  border-radius: 0;
  background-color: #3f4245;
  color:#aeaeb1;
  padding: 0px 0;
}

#profile-nav .dropdown-menu li {
  padding: 6px 0px;
  margin: 0;
  height: 39px;
  border-bottom: 1px solid #333334;
}

#profile-nav .dropdown-menu li a {
  color:#aeaeb1;
}

#profile-nav .dropdown-menu li a:hover,#profile-nav .dropdown-menu li a:active {
  color:#fc9127;
  background: transparent;
}

#profile-nav.dropdown-menu li.dark {
  background: #333334;
}

/*Sidebar*/

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #3f4346;
    border-right: 1px solid #333333;
  }
}

.nav>li> a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color:#e5e5e5;
  font-weight: 300;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  margin-top: -5px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #f78f28;
  background-color: #333334;
}

/*Main content*/

.navbar .container-fluid { 
  position: relative;
  margin-top: 7px;

}

.page-header {
  padding-bottom: 25px;
  border-bottom:1px solid #cccccc;
  width: 100%;
  display: block;
  height:55px;

}

h3.page-title { 
  float: left;
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: black;
  margin-top: 4px;
}

.main {
  padding: 10px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 80px;
}
.page-header-search {
  float: right;
  margin-top: -5px;
}

:-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder   {
   color: red;
}

.page-header-search input {
  height:42px;
  min-width: 255px;
  border:1px solid #bfcbcf;
  background-image: url(../images/search-ico.png);
  background-repeat: no-repeat;
  background-position: right;

}


.page-header-cta { 
  margin:10px 0 25px 0; 
}

.page-header-button { 
  height:35px;
  background-color: #fc9127;
  border-radius: 3px;
  border:none;
  -webkit-box-shadow: 0 1px 0 1px #dd7d1d;
  box-shadow: 0 1px 0 1px #dd7d1d;
  color:white;
  font-weight: 400;
  font-size: 15px;
  padding: 6px 20px;
  display: inline-block;
  margin-right: 15px;
}

.page-header-button-disabled { 
  height:35px;
  background-color: #c1c1c1;
  border-radius: 3px;
  border:none;
  -webkit-box-shadow: 0 1px 0 1px #a9a9a9;
  box-shadow: 0 1px 0 1px #a9a9a9;
  color:white;
  font-weight: 400;
  font-size: 15px;
  padding: 6px 20px;
  display: inline-block;
  margin-right: 15px;
}

.page-header-button i { 
  color:white;
  margin-right: 2px;
}

.page-header-button-disabled i { 
  color:white;
  margin-right: 2px;
}

.page-header-button:active {
  background-color: #dd7d1d;
}

.page-header-button-disabled:active { 
  background-color: #a9a9a9;
}

.page-header-button:focus {
  outline:none;
}

.page-header-button-disabled:focus { 
  outline: none;
}

.alert-warning {
  color: #9c8a5a;
  background-color: #fcf8e3;
  border-color: #faebcc; 

}

.table-responsive table thead {
  background-color: #889295;
  color:white;
}

table {
  border-spacing: 2px;
  border-color: white;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 12px;
  border-top: 1px solid #fff;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding-left: 20px; 
  padding-right: 20px;
  color:#60696c;
  height: 56px;
  line-height: 27px;

}

.table-responsive table thead tr {
  height: 56px;
  padding: 10px;

}

.table-responsive table thead tr th {
  font-weight: 400;
  color:white;
  line-height: 39px;
  font-size: 17px;
}

.table-delete { 
  height: 33px;
  width: 33px;
  background-color: #c44e4e;
  border-radius: 3px;
  float: right;
}

.table-delete:hover, .table-delete:active, .table-delete:focus {
  background-color: #df494a;


}

.table-delete i { color:white;
                  margin: 9px 12px;
}

.table-responsive tr td { line-height: 2px;

}

.table-responsive table tbody tr:hover {
  background-color: #d9e0e2;
}

.table-pagination {
  height: 50px;
  width: 100%;
  border-top: 1px solid #cbcbcb;
  text-align: center;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #fc9127;
  border-color: #fc9127;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: 10px;
  line-height: 1.42857143;
  color: #fff;
  text-decoration: none;
  background-color: #889295;
  border: 1px solid #889295;
  border-radius:3px;

}

.text-input {
  margin-bottom: 10px;
  margin-top: 10px;

}

.text-input label {
  color:#53565a;
  font-size: 15px;
  margin-bottom: 4px;
  font-weight: 500;

}

.radiobtn-input label { 
  line-height: auto;
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  color:#6d747b;
}

.radiobtn-input { 
  margin-bottom: 10px;
  margin-top: 20px;
}

.radiobtn-input label.radio-label { 
  float: left;
  margin-right: 20px;
  margin-left: 0px;
  color:#53565a;

}

.text-input input {
  max-width: 450px;
  background-color: #f8fafa;
  border: 1px solid #bfcbcf;
  border-radius: 5px;
  height: 46px;
}

.text-input textarea {
  max-width: 450px;
  background-color: #f8fafa;
  border: 1px solid #bfcbcf;
  border-radius: 5px;
  height: auto;
}

.text-input select.form-control {
  max-width: 450px;
  background-color: #f8fafa;
  border: 1px solid #bfcbcf;
  border-radius: 5px;
  height: 46px;
  -webkit-appearance: none; 
  background-image: url(../images/select-arrows.png);
  background-repeat: no-repeat;
  background-position: right;
}

.text-input select.multiple {
  background-color: #f8fafa;
  border: 1px solid #bfcbcf;
  border-radius: 5px;
  background-image: none;
  height: auto;
}



/*Placeholder dashboard ideas*/

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * metismenu - v2.0.0
 * A jQuery menu plugin
 * https://github.com/onokumus/metisMenu
 *
 * Made by Osman Nuri Okumus
 * Under MIT License
 */


#menu { 
  list-style: none;
  padding-left: 0;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -5px;
  border-top:1px solid #333333;


} 

.arrow {
  float:right;
  line-height:1.6;
  color:#fc9127;
  font-size: 11px;
}

.glyphicon.arrow:before {
  content:"\e250";
}

.active>a>.glyphicon.arrow:before {
  content:"\e252";
}

.fa.arrow:before{
  content:"\f104"
}

.active>a>.fa.arrow:before {
  content:"\f107"
}

.plus-times{
  float:right;
}

.fa.plus-times:before {
  content:"\f067"
}

.active>a>.fa.plus-times{
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg)
}

.plus-minus{
  float:right;
}

.fa.plus-minus:before{
  content:"\f067"
}

.active>a>.fa.plus-minus:before{
  content:"\f068"
}

.menu-list-item { 
  padding: 15px 0px 15px 0px;                
  border-bottom: 1px solid #333334;
}

.menu-list-item .main-item { 
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  color:#d1d1d5;
  text-transform: uppercase;
}

.menu-list-item .main-item:hover { 
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  color:#d1d1d5;
  text-transform: uppercase;
}

.menu-list-item i { 
  font-size:16px;
  color:#d1d1d5;
  margin-right: 5px;
  margin-left: 5px;
   color:#d1d1d5;
}

.collapse, .collapsing { 
  list-style: none;
  padding-left: 20px;
  margin-top:15px;
  margin-bottom: -15px;

}

.collapse li, .collapsing li { 
  padding: 10px 20px;
  margin-left: -30px;
  margin-right: -10px;
  border-top: 1px solid #333333;
  background-color: #393b3d;
}

.list-unstyled.collapse li, .list-unstyled .collapsing li { 
  border:none;
}

.collapse li.third-level li, .collapsing li.third-level li { 
  background-color: #333334;
  border-top: 1px solid #282829;
  padding: 10px 25px;
  margin-left: -30px;
  margin-right: -10px;
}

.collapse li.third-level li:hover, .collapsing li.third-level li:hover { 
  background-color: #282829;
}

.collapse li, .collapsing li  {
  color:#f0f0f0;
  font-weight: 300;
}

.collapse li a , .collapsing li a  {
  color:#f0f0f0;
  font-weight: 300;
}

.collapse li a:hover , .collapsing li a:hover  {
  color:#fc9127;
  font-weight: 300;
}


.collapse li:active, .collapse li:hover, .collapse li:hover   {
  background-color: #333334;
  color:#f78f28 !important;

}

.collapse li a i, .collapsing li a i {
  color:#aeaeb1;
  font-weight: 300;
  font-size: 14px;
}


#datetimepicker5 {

  margin-top: 33px;
  max-width:448px;

}

#datetimepicker5 input {

  max-width: 410px;
  background-color: #f8fafa;
  border: 1px solid #bfcbcf;
  border-radius: 5px 0px 0px 5px;
  height: 46px;


}

#datetimepicker5 span {


}





















